:host {
  --nav-bar-height: 50px;
  --green-bg:       #fff;
  --white-bg:       #e1f3cc;
  --logo-size:      70px;
}

.logo {
  width:             var(--logo-size);
  cursor:            pointer;
  outline:           none;
  z-index:           2;
  position:          absolute;
}

.nav-container-flex {
  display:      flex;
  position:     relative;
  padding-left: calc(var(--logo-size) + 10px);
  height:       var(--nav-bar-height);
}

a.nav-link {
  color:           var(--text-color);
  text-decoration: none;
  font-weight:     bold;
  word-spacing:    -5px;

  box-sizing:  border-box;
  padding-top: 15px;
  text-align:  center;
  width:       100px;
}

a.nav-link:hover,
a.nav-link:last-child:hover,
a.is-active {
  background-color: var(--green-bg);
}

a.nav-link:last-child {
  background:    right 5px top 13px/20px url('/images/GitHub icon.svg') no-repeat;
  padding-right: 25px;
  justify-self:  end;
  position:      absolute;
  right:         0;
  height:        100%;
}

.nav-background {
  width:            100%;
  height:           50px;
  position:         absolute;
  left:             0;
  background-color: var(--white-bg);
}

