<div class="nav-background"></div>
<nav>
    <img [routerLink]="['/']" class="logo" src="/images/go1f-logo.png">
    <div class="nav-container-flex">
        <a
            *ngFor             = "let link of links"
            [routerLinkActive] = "'is-active'"
            [routerLink]       = "link.url"

            class="nav-link"
        >
            {{link.name}}</a>
<!-- TODO move this elemnt to the loop -->
        <a
            href  ="https://github.com/login/oauth/authorize?client_id={{ githubParams?.client_id}};state={{ githubParams?.state}}"
            go1fExternalUrl

            class ="nav-link"
        >
            Sign in</a>
    </div>
</nav>
