:host {
  font-family:        "Lucida Console", Monaco, monospace;
  margin:             0;
  --text-color:       #262626;
  --light-green-bg:   #e1f3cc;
  --green-bg:         #8cc75d;
  --dark-green-bg:    #5fa73e;
  --white-bg:         #fff;

  --main-vert-margin: 20px;
}

:host /deep/ {
  color:          var(--text-color);

  /* Common variables */
  --content-size: 820px;
}

.flex-box {
  display:         flex;
  justify-content: center;
}

.content-flex-item {
  flex: 0 0 var(--content-size);
}

main {
    margin-top:    var(--main-vert-margin);
    margin-bottom: var(--main-vert-margin);
}
